#logbooktree {
    flex: 1;
    overflow: auto;
    font-size: 110%;
}

#logbooktree header {
    border-bottom: 1px solid #bbb;
    padding: 5px;  
}

#logbooktree header .commands {
    float: right;
}

#logbooktree .tree {
    padding: 0.5em 0.5em 0.5em 1em;  
}

#logbooktree ul {
    margin: 0px;
    padding-left: 2em;
}

#logbooktree li {
    list-style: none;
    text-indent: -1em;
}

#logbooktree li a {
    text-decoration: none;
}

#logbooktree .selected {
    font-weight: bold;
}

#logbooktree li:not(.has-children) {
    padding-left: 0;
}

/* #logbooktree li.has-children { */
/*     /\* padding-left: 5px; *\/ */
/*     position: relative; */
/* } */

#logbooktree li input {
    position: absolute;
    left: 0;
}

#logbooktree input[type='checkbox'] {
    display: none;
    /* width: 0; */
}

#logbooktree input[type='checkbox'] + label:before {
    content: "►";
}

#logbooktree input[type='checkbox']:checked + label:before {
    content: "▼";
}
